@import '../../global.scss';
::-webkit-scrollbar {
    display:none
}

%main--about{
width:100%;
height:100vh;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family:$body;
color:white;

}
.main--about-summer{
    @extend %main--about;
    background:$backgroundSummer;

}

.main--about-winter{
    @extend %main--about;
    background:$backgroundWinter;

}
.main-container-center{
    width:100%;
height:70%;
display:flex;
flex-direction:column;
align-items:center;
padding-top:10%;
overflow-y: auto;

}

.about--left-ligia, .about--right-daniel{
width:60%;
height:70%;
margin-bottom:5%;
}



.about--top-box{
    height:35%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    img{
        width:40%;
        height:85%;
        border-radius:100%;
    }
    h2{
        font-family:$headline;
        align-self: flex-start;
        margin-top:3%;
    }
    border-bottom:2px solid white;
    
}
.about--bottom-box{
    height:65%;
    width:100%;
}

.about--top-description{
    display:flex;
    a{
        font-size:1.5vh;
        margin:5%;
        color:white;
        text-decoration:none;
        cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
        auto;

    }
    a:hover{
        color:$nude;
    }
}

@media only screen and (min-width:700px) and ( max-width:1300px) and (orientation:portrait){
    .main-container-center{
        width:100%;
    height:70%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;

    padding-top:10%;
    overflow-y: auto;
    
    }
    .about--left-ligia, .about--right-daniel{
        width:30%;
        height:100%;
        margin:0 3% 0 3%;
        }
}


@media only screen and (orientation:landscape){
    .main-container-center{
        width:100%;
    height:70%;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
    padding-top:10%;
    
    }
    .about--left-ligia {
        width:30%;
        height:100%;
        margin:0 3% 0 3%;
    }
    .about--right-daniel{
        width:30%;
        height:100%;
        margin:0 3% 0 3%;
      
        }
        .about--top-box{
            height:45%;
        
            img{
                width:30%;
                height:75%;
                border-radius:100%;
            }
            h2{
                font-family:$headline;
                align-self: flex-start;
                margin-top:8%;
                font-size:5vh;
                height:25%;
            }
            border-bottom:2px solid white;
            
        }
        .about--bottom-box{
            height:55%;
            width:100%;
        }
        
        .about--top-description{
            display:flex;
            a{
                font-size:3vh;
                margin:5%;
        
            }
            a:hover{
                color:$nude;
            }
           
        }
        .about--bottom-description{
            p{
                font-size:3vh;
            }
        }
}
