@import "./global.scss";

body{
    font-family:$body;
}

.App--main{
    width:100%;
    height:100vh;
    //  cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png') 39 39,
    //   auto;
}

.container {
  margin: 0 auto;
  max-width: 48rem;
  width: 90%;
}