@import '../../global.scss';

.highlights--main{
    width: 100%;
    height:165vh;
    display:flex;
    flex-direction:column;
}
%highlights--left-box{
    width:100%;
    height:50%;

}
.highlights--left-box-winter{
@extend %highlights--left-box;
background:$backgroundWinter;
}
.highlights--left-box-summer{
    @extend %highlights--left-box;
    background:$backgroundSummer;
    }

.highlights--right-cards{
    width:80%;
    height:70%;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
  position:absolute;
    top:130%;
}





@media only screen and ( min-width:1025px){
.highlights--main{
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction:row;
}
%highlights--left-box{
    width:35%;
    height:65%;
   align-self:flex-end;
}

.highlights--right-cards{
    width:65%;
    height:100%;
    display:flex;
    align-items: center;
    top:115%;
    left:20%;
}}

@media only screen and ( orientation:landscape) and (max-width:800px){
    .highlights--main{
        width: 100%;
        height:100vh;
        display:flex;
        flex-direction:row;
    }
    %highlights--left-box{
        width:35%;
        height:65%;
       align-self:flex-end;
    }
    
    .highlights--right-cards{
        width:75%;
        height:100%;
        display:flex;
        align-items: center;
        top:115%;
        left:20%;
    }
}