@import "../../global.scss";

%clients--main{
    width:100%;
    height:100vh;
    display:flex;
    align-items:center;
     color:white;
}

.clients--main-summer{
    @extend %clients--main ; 
    background:$highlightsSummer;
}
.clients--main-winter{
  @extend %clients--main ; 
  background:$mainBackgroundWinter;
}
%clients--center-carrossel{
    display:flex;
    width:100%;
    height:100%;
    align-items:center;
    justify-content: center;
    box-shadow: -6px 6px 10px black;
    overflow-x:hidden;
   
}
.clients--center-carrossel-summer{
    @extend %clients--center-carrossel;
    background:$highlightsSummer;
 
}
.clients--center-carrossel-winter{
    @extend %clients--center-carrossel;
    background:$opacBlue;
 
}
.carrossel--main {
    display:flex;
    align-items:center;
    justify-content: center;
}
.carrossel--main>div{
    width: 55%;
    height:45%;
    img{
        width:45%;
        height:10%;
        border-radius:100%;
    }
    display:flex;
    flex-direction:column;
    align-items:center;
    h1{
        width:90%;
        border-bottom:2px solid $backgroundSummer;
    }
}
.color-white{
    font-size:8vh;
}
.slide-arrow{
    width:30%;
    height: 30%;
    display:flex;
    cursor:pointer;
  
}

.slide-arrow:hover{
    color:black;
}

.carrossel-bottom-description{
    h2{
        margin:0;
    }

}

.stars{
    color:rgb(251, 174, 6);
    span{font-size:4vh;}
}
@media only screen and (min-width:700px){

    %clients--main{
        
        align-items:center;
        justify-content: center;
    }
    .clients--main-summer{
        background:white;
     
    }

    %clients--center-carrossel{
        display:flex;
        width:45%;
        height:80%;
        align-items:center;
        justify-content: center;
        box-shadow: -6px 6px 10px black;
       
    }
 
    .carrossel--main >div{
        width:75%;
        height:75%;
        
        img{
            max-width:25%;
            max-height:30%;
             border-radius:100%;
             justify-self: center;
        }
        display:flex;
        flex-direction:column;
        align-items:center;
        align-content: center;
        justify-content: center;
        h1{
            width:50%;
            border-bottom:2px solid $backgroundSummer;
        }
     
    }
    .carrossel-bottom-description{
        width:50%;
       
    }
    .slide-arrow{
        width:10%;
        height:80%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}