@import "../../global.scss";

.head--main--winter{
    background:url("../../images/backgroundWinter.jpg");
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.head--main--summer{
    background:url("../../images/backgroundSummer.jpg");
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.head--container{
    width:100%;
    height:95%;
    align-self: flex-end;
    display:flex;
    flex-direction:block;
    justify-content: center;
    align-items: center;
    
}
.head--center-content{
    width:85%;
    height:35%;
    
}

%head--top-title{
    font-family:$body;
    font-size:3.5vh;
    height:3%;


}
.head--top-title-summer{
    @extend %head--top-title;
        color:$backgroundSummer;

}
.head--top-title-winter{
    @extend %head--top-title;
        color:$letterWinter;

}

.head--center-title{
    background-color: rgba(0, 0, 0, 0.137);
    width:99%;
    height:85%;
    font-family:$headline;
    font-size:7.5vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $highlightsSummer;
    color:white;

}

@media only screen and (min-width:800px){
    .head--center-content{
        width:45%;
        height:65%;
        
    }  
}

@media only screen and (min-width:1024px)and(max-width:1366px){
    .head--center-content{
        width:65%;
        height:45%;
        
    }  
}
@media only screen and (orientation:landscape){
    .head--center-content{
        width:45%;
        height:65%;
        
    }  
}