@import "../../global.scss";

%place--main{
    widows: 100%;
    height:90vh;
    margin:5% 0 5% 0;
    align-items:center;
    display:flex;
   
}
.place--main-summer{
    @extend %place--main;
    background:$backgroundSummer;
}
.place--main-winter{
    @extend %place--main;
    background:$backgroundWinter;

}
.map{
    width:50%;
    height:100%;
    overflow:hidden;
display:flex;
align-items: center;
justify-content: center;
cursor:pointer;
}
.place--description-right{
    width:40%;
    height:100%;
       color:white;
    display:flex;
    align-items: center;
    justify-content: center;
flex-direction:column;

p{
    font-size:3vh;

}
h1{
    font-size:10vh;
}

}


@media only screen and (max-width:800px){
    %place--main{
display:none;
    }
}

@media only screen and (max-width:1025px){
    .place--description-right{
     
    
    p{
        font-size:2vh;
    
    }
    h1{
        font-size:5vh;
    }
    
    }
}