@import "../../global.scss";


.landing--main {
  
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
   
   

  }
  %landing{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    box-shadow: -6px 6px 100px black
  }
  .landing-winter{
   @extend %landing;
  }
  .landing-summer{
    @extend %landing;
   }
   .landing--button{
     cursor:pointer;
     width:80%;
     height:30%;
     font-size:10vh;
     background:rgba(255, 255, 255, 0.623);
     border:none;
     font-family:$headline;
     box-shadow:-6px 6px 10px black;
     color:$nude;
   }