@import "../../global.scss";

.place-card {
  flex-direction: column;
  width: 40%;
  height: 15%;
  margin-bottom: 5%;
  color: $backgroundWinter;
  border: 1px solid black;
  box-shadow: -6px 6px 10px rgb(0, 0, 0);
}
.place-card__img {
  width: 100%;
  height: 30%;
  margin: 0;
  img {
    width: 100%;
    height: 60%;
  }
}
.place-card__content {
  width: 100%;
  height: 50%;
  margin-top: 0;
  padding:3%;

}
.place-card__botom {
  height: 20%;
}
.button--big {
  @extend %button--small;
  position: absolute;
  background: #244B52;
  padding:2%;
  cursor:pointer;
  text-transform: uppercase;

}
.place-card__title {
  border-bottom: 3px solid $backgroundWinter;
  font-size: 3.5vh;
  margin: 0;
  width:80%;
}
.place-card__botom {
  display: flex;
  align-items: center;
}
.place-card__text {
  color: black;
}
.place-card__botomQtdPeople,
.place-card__botomQtdDays {
  border-right: 3px solid $backgroundWinter;
  font-size: 2vh;
  padding: 1.5%;
  color: $highlightsSummer;
  
}
#price {
  font-size: 3.5vh;
  color: $highlightsSummer;
}

@media only screen and (min-width:600px){
    .place-card {
        flex-direction: row;
        width: 80%;
        height: 15%;
        margin-bottom: 5%;
       }
}
@media only screen and (min-width:1030px){
  
.place-card{
    width: 45rem;
   height: 20rem;
   
    display: flex;
    margin-bottom: 3rem;
    margin-left:3%;
    padding-right: 0.05rem;
    border: 1.5px solid $backgroundSummer;
    box-shadow: 0 0 0.2rem 0.1rem rgba($backgroundSummer,0.5);
}

.place-card__img{
     height:98%;
    padding: 0.1rem;
    position: relative;
    
}

.place-card__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.place-card__content{    
    position: relative;
    width: 100%;
    // flex: 1 3;    
}

.place-card__title {
    font-family: $headline;
    color: $backgroundSummer;
    padding-top: 1rem;
    padding-left: 0.8rem;
    margin-bottom: 0;
    font-size: 2rem;
    
}

.place-card__content button {
    text-transform: uppercase;
    width: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position:absolute;
    top:0;
    right:0;
    transform: translate(0.2rem, -0.15rem);
    border: none;


}

.place-card__line{
    width: 15rem;
    border-top: 0.2rem solid $backgroundSummer;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.01rem rgba($backgroundSummer,0.5);
    margin-left: 0.2rem;
}

.place-card__text{
    margin: 0 auto;
    margin-top: 1.5rem;
    text-align: justify;
    line-height: 2rem;
    width: 20rem;
    padding-left: 0;
    text-transform: capitalize;
}
.place-card__botom{
margin-top:5%;
}

.place-card__botom > p {
  
    flex: 1;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.place-card__botomQtdPeople{
    text-align: center;   
}

.place-card__botomQtdPeople span{
    display: block;
    font-size: 0.8rem;
}



}