@import "../../global.scss";


%contact--main{
   
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.contact--main-summer{
    @extend %contact--main;
    background:$backgroundSummer;
}
.contact--main-winter{
    @extend %contact--main;
    background:$backgroundWinter;
}